<div class="container">

    <div class="container_logo">
    
        <div class="container_logo_img">

            <a [routerLink]="['/']">
                <img
                    src="siteLogo.png"
                    alt=""
                    width="50px"
                    height="50px"
                >
            </a>

        </div>

        <a [routerLink]="['/']">
            <p>Stories</p>
        </a>

    </div>

    <div class="container_options">
        
        <input
            class="container_options_search"
            type="text"
            placeholder='Ex. Dragon Ball'
        >

    </div>

    <div class="container_search_img">

        <img
            src="search.png"
            alt=""
            width= "22px"
            height="22px"
        />

    </div>

    <div class="container_profile">
        
        <div class="container_profile_image">

            <img
                src="gojoIcon.jpg"
                alt=""
                width= "44px"
                height="44px"
            >

        </div>

        <div class="container_profile_name">

            <p>BRMevy</p>

        </div>

    </div>

</div>