.container {
    width: 100%;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    color: white;
}

.container_logo {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

.container_logo > a {
    text-decoration: none;
    color: white;
}

.container_logo > a > p {
    padding-left: 15px;
}

.container_logo_img {
    background-color: white;
    border-radius: 25px;
}

.container_logo_img > img {
    position: relative;
    top: 2px
}

.container_options {
    display: flex;
    justify-content: center;

    padding-right: 15px;
}

.container_options > input {
    background-color: black;
    color: white;
}

.container_options > input:hover {
    border: 1px solid #292929;
}

.container_options > input:focus {
    outline: none;
    box-shadow: -3px 0px 15px 0px rgba(229,200,200,0.75);
    -webkit-box-shadow: -3px 0px 15px 0px rgba(229,200,200,0.75);
    -moz-box-shadow: -3px 0px 15px 0px rgba(229,200,200,0.75);
}

.container_search_img {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    width: 25px;
}

.container_search_img:hover {
    cursor: pointer;
}

.container_search_img:active {
    position: relative;
    top: 1px;
    border-color: #0000007d;
}

.container_options > input {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    height: 25px;
    width: 500px;

    text-align: center;
}

.container_profile {
    position: absolute;
    right: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.container_profile_image > img {
    border-radius: 50%;

    margin-right: 15px;
}