* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover {
    color: #93c5fd;
}

.container {
    display: flex;
    position: fixed;
    
    justify-content: space-between;
    align-items: center;

    height: 60px;
    width: 100%;
    
    padding: 20px ;
    
    background-color: #1e293b;
    color: white;
}

.container_left > a {
    font-weight: bold;
    font-size: 25px;
}

.container_right {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 15px;

    text-align: right;

    cursor: pointer;
}

.container_left:active, .container_right:active {
    position: relative;
    top: 1px;
}
