<div class="container">

    <app-rectangle-background
        width="1200px"
        height="fit-content"
    >

        <div class="container_profile">

            <div class="container_profile_photo">

                <img
                    src="gojo.jpeg"
                    width="150px"
                    style="border-radius: 50%;"
                    alt=""
                >

            </div>

            <div class="container_profile_name">

                <h1>{{name}}</h1>

            </div>

        </div>

        <hr>

        <div class="container_options">
            
            <app-default-button
                width="100px"
                height="30px"
                text="Histórias"
                (click)="switchToMyBooks()"
            ></app-default-button>

            <app-default-button
                width="100px"
                height="30px"
                text="Favoritos"
                (click)="switchToFavoriteBooks()"
            ></app-default-button>

        </div>

        <div class="container_stories">
            
            <app-rectangle-background
                width="1100px"
                height="fit-content"
            >

                <div
                    [ngSwitch]="list"
                    class="container_stories_components"
                >

                    <div
                        *ngSwitchCase="false"
                        class="container_stories_components_list">
                        
                        <app-book *ngFor="let book of myBooks"></app-book>

                    </div>

                    <div
                        *ngSwitchCase="true"
                        class="container_stories_components_favorite">
                        
                        <app-book *ngFor="let x of favoriteBooks"></app-book>

                    </div>

                </div>

            </app-rectangle-background>

        </div>

    </app-rectangle-background>

</div>