<div class="container">

    <app-rectangle-background
        width="1100px"
        height="fit-content"
        display="flex"
        flexDirection="row"
        gap="6px"
        flexWrap="wrap"
        justifyContent="center"
    >

        <app-book *ngFor="let book of books"
            bookName="{{book.name}}"
            author="{{book.author}}"
            quantity="{{book.quantity}}"
            updateDate="{{book.updatedDate}}"
            [categories]="book.categories"
            description="{{book.description}}"
        ></app-book>

    </app-rectangle-background>
    
</div>