<div class="container">

    <app-rectangle-background
        width="1200px"
        height="fit-content"
    >

        <div class="container_title">

            <app-book-names
                [bookName]="book.name"
                [author]="book.author"
            ></app-book-names>

        </div>

        <div class="container_img">

            <app-img
                img="gojo.jpeg"
                [fav]="fav"
            ></app-img>

        </div>

        <div class="container_date">

            <div class="container_date_creation">

                <div class="container_date_creation_text">

                    <span>Criado em: {{book.creationDate}}</span>

                </div>

            </div>

            <div class="container_date_updated">

                <div class="container_date_updated_text">

                    <span>Atualizado em: {{book.updatedDate}}</span>

                </div>

            </div>

        </div>

        <div class="container_categorie">

            <div class="container_categorie_text">

                <span>Categorias</span>

            </div>

            <div class="container_categorie_categories">

                <app-category
                    *ngFor="let category of book.categories"
                    [text]="category"
                ></app-category>

            </div>

        </div>

        <div class="container_description">

            <p>Descrição muito empolgante</p>

        </div>

        <hr>

        <div class="container_chapters">

            <app-rectangle-background
                width="1000px"
                height="fit-content"
            >

                <app-chapter *ngFor="let chapter of book.chapters; let i = index"
                    text="Capitulo {{i+1}}: {{chapter}}"
                    [routerLink]="['/book/' + book.name + '/' + (i+1)]"
                ></app-chapter>

            </app-rectangle-background>

        </div>

    </app-rectangle-background>

</div>