<div class="container">

    <app-rectangle-background
        width="1200px"
        height="fit-content"
    >

        <div class="container_title">

            <app-book-names
                [bookName]="bookName!"
                [author]="author!"
            ></app-book-names>

        </div>

        <div class="container_img">

            <app-img
                img="gojo.jpeg"
                [fav]="fav"
            ></app-img>

        </div>

        <div class="container_categorie">

            <div class="container_categorie_text">

                <span>Categorias</span>

            </div>

            <div class="container_categorie_categories">

                <app-category
                    *ngFor="let category of [1,2,3,4,5]"
                    text="category"
                ></app-category>

            </div>

        </div>

        <div class="container_description">

            <p>Descrição muito empolgante</p>

        </div>

        <hr>

        <div class="container_chapters">

            <app-rectangle-background
                width="1000px"
                height="fit-content"
            >

                <app-chapter *ngFor="let chapter of [1,2,3,4,5]; let i = index"
                    text="Capitulo {{i+1}}: Capitulo"
                    [routerLink]="['/book/' + bookName + '/' + (i+1)]"
                ></app-chapter>

            </app-rectangle-background>

        </div>

    </app-rectangle-background>

</div>