hr {
    border: 2px solid black;
    margin: 15px 0px 15px 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_title {
    display: flex;
    justify-content: center;
}

.container_img {
    display: flex;
    justify-content: center;
}

.container_categorie {
    margin-top: 5px;
}

.container_categorie_text {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    color: white;
}

.container_categorie_categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-bottom: 15px;
    gap: 3px;
}

.container_description {
    display: flex;
    justify-content: center;

    color: white;
}

.container_chapters {
    display: flex;
    justify-content: center;
}