.container {
    display: flex;
    justify-content: center;
}

.container_background {

    display: flex;
    flex-direction: column;

    width: 1000px;
    height: fit-content;

    background-color: rgba(4, 5, 5, 0.70);
    border-radius: 30px;
}

.container_background_title {
    display: flex;
    justify-content: center;
}

.container_background_title_text {

    padding: 5px;
    margin: 10px;

    width: 700px;

    display: flex;
    justify-content: center;

    color: white;
    background-color: #4b4646;
}

.container_background_stories > ul > li {
    list-style-type: none;
    margin-left: 10px;
}