<div class="container">

    <div class="container_middle">
        
        <div class="container_middle_text">

            <div class="container_middle_text_title">

                <h2>{{book!.title}}</h2>

            </div>

            <div class="container_middle_text_informations">

                <ul>
                    <li>Criado por: {{book!.createBy}}</li>
                    <li>Capitulos: {{book!.chapterCount}}</li>
                    <li>Categorias: {{book!.categories}}</li>
                </ul>

            </div>

            <hr>

            <div class="container_middle_text_description">

                <p>{{book!.description}}</p>

            </div>

            <hr>

        </div>

        <div class="container_chapters">

            <ul>

                <li *ngFor="let chap of book!.chapters; let i = index">
                    <app-chapter-box [bookName]="bookName!" [chapNumber]="(i + 1).toString()" [chapTitle]="chap.title"></app-chapter-box>
                </li>

            </ul>

        </div>

    </div>

</div>