<div class="container">
    
    <app-background-rectangle
        width="1300px"
        display="flex"
        flexDirection="column"
        flexWrap="wrap"
    >

        <div class="container_titles">

            <div class="container_titles_titles">

                <app-titles
                        [name]="tale.name"
                        nameSize="25px"
                        [author]="tale.author"
                        authorSize="19px"
                        alignItems="center"
                ></app-titles>

            </div>

            <div class="container_titles_chapter">

                <span>Capitulo {{number}}: {{tale.chapterName}}</span>

            </div>

        </div>

        <div class="container_content">

            <app-background-rectangle
                width="1100px"
                display="flex"
                flexDirection="column"
                flexWrap="wrap"
            >

                <div class="container_content_text">
    
                    <span>{{tale.content}}</span>
    
                </div>
    
            </app-background-rectangle>
    
            <div class="container_buttons">
    
                <app-chapter-button
                    text="&lt;"
                    [active]="true"
                    [pv]="-1"
                    [chapter]="number"
                    [taleName]="tale.name"
                ></app-chapter-button>
                
                <app-chapter-button
                    text="&gt;"
                    [active]="true"
                    [pv]="1"
                    [chapter]="number"
                    [taleName]="tale.name"
                >
                </app-chapter-button>
    
            </div>

        </div>
    

    </app-background-rectangle>

</div>