<div class="container">

    <div class="container_left">

        <div class="container_logo_img">

            <b>S</b>

        </div>

        <div class="container_logo_text">

            <span>tories</span>

        </div>

    </div>

    <div class="container_middle">

        <input type="text" placeholder="Pesquisar">

    </div>

    <div class="container_right">

        <div class="container_right_img">

            <img 
                src="gojo.jpeg"
                alt=""
                width="50px"
            >

        </div>

        <div class="container_right_menu">

            <app-menu-button></app-menu-button>

        </div>

    </div>

</div>