<div class="container">

    <div
        class="container_left"
        [routerLink]="['/']"
    >

        <div class="container_logo_img">

            <b>S</b>

        </div>

        <div class="container_logo_text">

            <span>tories</span>

        </div>

    </div>

    <div class="container_middle">

        <input type="text" placeholder="Pesquisar">

    </div>

    <div class="container_right">

        <div class="container_right_img">

            <img 
                src="gojo.jpeg"
                alt=""
                width="50px"
            >

        </div>

        <div
            (click)="switchMenu()"
            class="container_right_menu"
        >

            <app-menu-button></app-menu-button>

        </div>

    </div>

</div>

<div
    *ngIf="menu"
    class="menu"
>

    <div class="menu_img">

        <img 
            src="gojo.jpeg"
            alt=""
            width="150px"
        >

    </div>

    <div class="menu_buttons">

        <app-default-button
            text="Minha área"
            width="200px"
            height="20px"
        ></app-default-button>

        <app-default-button
            text="Desconectar"
            width="200px"
            height="20px"
        ></app-default-button>

    </div>

</div>