<div
    class="container"
    [ngSwitch]="hasAccount"   
>

    <div
        class="container_login"
        *ngSwitchCase="true" 
    >

        <app-rectangle-background
            width="350px"
            height="140px"
            display="flex"
            justifyContent="center"
        >
            
            <div class="container_login_input">

                <app-input-box text="Username"></app-input-box>
                <app-input-box text="Senha"></app-input-box>
                
            </div>

            <div class="container_login_text">

                <span (click)="switchAccount()">Não possuo uma conta</span>

            </div>

            <div class="container_login_button">

                <app-default-button
                    width="75px"
                    height="25px"
                    text="Login"
                ></app-default-button>

            </div>

        </app-rectangle-background>

    </div>

    <div
        class="container_register" 
        *ngSwitchCase="false"
    >

        <app-rectangle-background
            width="350px"
            height="170px"
            display="flex"
            justifyContent="center"
        >

            <div class="container_register_input">

                <app-input-box text="Username"></app-input-box>
                <app-input-box text="Email"></app-input-box>
                <app-input-box text="Senha"></app-input-box>
                
            </div>

            <div class="container_register_text">

                <span (click)="switchAccount()">Já possuo uma conta</span>

            </div>

            <div class="container_register_button">

                <app-default-button
                    width="100px"
                    height="25px"
                    text="Registrar"
                ></app-default-button>

            </div>

        </app-rectangle-background>

    </div>

</div>