<div class="container">

    <div class="container_register">

        <app-rectangle-background
            width="350px"
            height="170px"
            display="flex"
            justifyContent="center"
        >

            <div class="container_input">

                <app-input-box
                    text="Username"
                    [(value)]="username"
                ></app-input-box>
                <app-input-box
                    text="Email"
                    [(value)]="email"
                    *ngIf="!hasAccount"
                ></app-input-box>
                <app-input-box
                    text="Senha"
                    type="password"
                    [(value)]="password"
                ></app-input-box>
                
            </div>

            <div class="container_text">

                <span (click)="switchAccount()">{{hasAccountMessage}}</span>

            </div>

            <div 
                class="container_button"
                [ngSwitch]="hasAccount"
            >

                <app-default-button
                    width="100px"
                    height="25px"
                    text="Registrar"
                    (click)="register()"
                    *ngSwitchCase="false"
                ></app-default-button>

                <app-default-button
                    width="100px"
                    height="25px"
                    text="Login"
                    (click)="login()"
                    *ngSwitchCase="true"
                ></app-default-button>

            </div>

        </app-rectangle-background>

    </div>

</div>