<div class="container">

    <div class="container_login">

        <app-rectangle-background
            width="350px"
            height="212px"
        >
            
            <div class="container_login_input">

                <app-input-box text="Username"></app-input-box>
                <app-input-box text="Senha"></app-input-box>
                
            </div>

            <div class="container_login_text">

                <span>Não possuo uma conta</span>

            </div>

            <div class="container_login_button">

                <app-default-button
                    width="75px"
                    height="25px"
                    text="Login"
                ></app-default-button>

            </div>

        </app-rectangle-background>

    </div>

</div>