span {
    cursor: pointer;
    color: white;

    font-size: 12px;
}

span:active {
    position: relative;
    top: 1px;

    user-select: none;
}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_input {
    display: flex;
    flex-direction: column;

    gap: 8px;

    margin-bottom: 4px;
}

.container_text {
    margin-bottom: 4px;
}
