.container_login {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_login_input {
    display: flex;
    flex-direction: column;

    gap: 8px;

    margin-bottom: 4px;
}

.container_login_text {
    color: white;

    font-size: 12px;
    
    margin-bottom: 4px;
}

.container_login_text:hover {
    cursor: pointer;
}

.container_login_text:active {
    position: relative;
    top: 1px;

    user-select: none;
}