.container {
    color: white;
}

.container > input {

    width: 220px;
    height: 25px;

    border-radius: 25px;
    border: 2px solid white;

    background-color: rgba(0, 0, 0, 0);
    color: white;

    padding-left: 10px;
}

.container > input::placeholder {
    color: white;
}

.container > input:focus {
    outline: none;
}
