<div class="container">

    <a routerLink="/login">

        <div class="container_background">

            <div class="container_background_number">
    
                <span>{{chapNumber}}</span>
    
            </div>
    
            <div class="container_background_separator">

                <span>-</span>

            </div>

            <div class="container_background_title">
    
                <span>{{chapTitle}}</span>
    
            </div>
    
        </div>

    </a>

</div>