<div class="container">
    <div
        class="container_title"
        [style.justify-content]="justifyContent"
        [style.align-items]="alignItems"
    >
        <span>{{title}}</span>
    
    </div>
    
    <div class="container_input">
    
        <input
            [type]="type"
            [(ngModel)]="value"
            (ngModelChange)="onValueChange($event)"
            [style.width]="width"
            [style.height]="height"
            [style.text-align]="alignText"
        >
    
    </div>

</div>