.container {
    background-color: rgba(30, 41, 59, 0.85);
    border-radius: 15px;
    height: fit-content;
    padding: 15px 8px 15px 8px;
    gap: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}