<div class="container">
    <div class="container_name">
        <h1>Metales</h1>
    </div>
    <app-background-rectangle width="300px">
        <div class="container_rectangle_rl">
            <div class="container_rectangle_register_input">
                
                <app-input
                    [(value)]="username"
                    title="Username"
                    type="text"
                    *ngIf="!hasAccount"
                ></app-input>
                <app-input
                    [(value)]="email"
                    title="Email"
                    type="text"
                ></app-input>
                <app-input
                    [(value)]="password"
                    title="Senha"
                    type="password"
                ></app-input>
                <app-input
                    [(value)]="validPassword"
                    title="Confirme sua senha"
                    type="password"
                    *ngIf="!hasAccount"
                ></app-input>
                
            </div>
        </div>

        <div [ngSwitch]="hasAccount" class="container_rectangle_bottom">
            <div *ngSwitchCase="false" class="container_rectangle_bottom_register">
                <div class="container_rectangle_bottom_register_text">
                    <span (click)="switchHasAccount()">Já possuo uma conta</span>
                </div>
                <div class="container_rectangle_bottom_register_button">
                    <app-button (click)="register()" text="Registrar"></app-button>
                </div>
            </div>
            <div *ngSwitchCase="true" class="container_rectangle_bottom_login">
                <div class="container_rectangle_bottom_login_text">
                    <span (click)="switchHasAccount()">Não possuo uma conta</span>
                </div>
                <div class="container_rectangle_bottom_login_button">
                    <app-button (click)="login()" text="Login"></app-button>
                </div>
            </div>
        </div>
    </app-background-rectangle>
</div>