.container {
    display: flex;
    justify-content: center;
}

.container_image > img {
    border-radius: 15px;
}

.container_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.createfield {
    position: fixed;
    top: 25%;
    left: 25%;
}