<div class="container">

    <div class="container_left">

        <img 
            src="imageDefault.jpeg"
            alt=""
            width="180px"
            height="230px"
        >

    </div>

    <div class="container_right">

        <div class="container_right_top">

            <div class="container_right_top_title">

                <a [routerLink]="[`${name}`]" >{{name}}</a>

            </div>

            <div class="container_right_top_author">

                <a>{{author}}</a>

            </div>

        </div>

        <div class="container_right_line">

            <hr>

        </div>

        <div class="container_right_bottom">

            <div class="container_right_bottom_informations">
        
                <div class="container_right_bottom_informations_content">
        
                    <span>Quantidade de capítulos: {{quantity}}</span>
                    <span>Data de atualização: {{updatedDate}}</span>
        
                </div>
        
                <div class="container_right_bottom_informations_likes">
        
                    <img
                        src="imagedefault.jpeg"
                        alt="asd"
                        width="10px"
                        height="10px"
                    >

                    <span>{{likes}}</span>
        
                </div>
        
            </div>
        
            <div class="container_right_bottom_categories">
                
                <app-category
                    *ngFor="let category of categories"
                    [text]="category"
                ></app-category>

            </div>
            
            <div class="container_right_bottom_description">
        
                <span>{{description}}</span>
        
            </div>
        
        </div>        

    </div>

</div>