.container {
    display: flex;
    flex-direction: row;

    width: 500px;
    height: 250px;

    background-color: #BCBCBC;

    border-radius: 15px;
    border: 3px solid black;
}

.container_left {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 100%;
}

.container_left > img {
    border: 1px solid black;
    border-radius: 15px;

    cursor: pointer;

    transition: transform 0.5s ease-in-out;
}

.container_left:hover {
    transform: scale(1.05);
}

.container_left:active {
    position: relative;
    top: 1px;
}

.container_right {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 280px;
    height: 230px;

    margin: 10px 10px 10px 5px;
}

.container_right_top {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 40px;
}

.container_right_line {
    width: 100%;

    margin: 6px 0px 3px 0px;
}

.container_right_line > hr {
    border: 1px solid black;
}

.container_right_bottom {
    height: 100%;
    width: 100%;
}

.container_right_bottom_informations {
    display: flex;

    width: 100%;

    justify-content: space-between;

    margin-bottom: 3px;
}

.container_right_bottom_informations_content {
    display: flex;
    flex-direction: column;

    font-size: 14px;
}

.container_right_bottom_informations_likes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2px;
}

.container_right_bottom_categories {
    display: flex;
    justify-content: center;

    gap: 3px;

    margin-bottom: 3px;
}

.container_right_bottom_description {
    font-size: 15px;
    text-align: center;
}

.container_right_bottom_description > span {
    display: flex;
    flex-wrap: wrap;

    word-break: break-word;
}
