<div class="container">

    <div class="container_left">

        <img 
            src="imageDefault.jpeg"
            alt=""
            width="180px"
            height="230px"
        >

    </div>

    <div class="container_right">

        <div class="container_right_top">

            <app-titles
                [name]="name"
                nameSize="22px"
                [author]="author"
                authorSize="15px"
                justifyContent="center"
                alignItems="center"
            ></app-titles>

        </div>

        <div class="container_right_line">

            <hr>

        </div>

        <div class="container_right_bottom">

            <div class="container_right_bottom_informations">
        
                <div class="container_right_bottom_informations_content">
        
                    <span>Quantidade de capítulos: {{quantity}}</span>
                    <span>Data de atualização: {{updatedDate}}</span>
        
                </div>
        
                <div class="container_right_bottom_informations_likes">
                    
                    <span>{{likes}}</span>
                    
                    <img
                        src="like.jpg"
                        alt=""
                        width="10px"
                        height="10px"
                    >

        
                </div>
        
            </div>
        
            <div class="container_right_bottom_categories">
                
                <app-category
                    *ngFor="let category of categories"
                    [text]="category"
                    fontSize="12px"
                ></app-category>

            </div>
            
            <div class="container_right_bottom_description">
        
                <span>{{description}}</span>
        
            </div>
        
        </div>        

    </div>

</div>